{% extends "home/standard_page.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block bodycontent %}
<div class="container features">
    <div class="row no-gutters">
        {% for feature in features %}
	<div class="col-xs-12 col-md-6 col-lg-4">
	    {% if feature.icon %}
	    <span class="fa-stack fa-lg fa-3x">
		<i class="fa fa-circle fa-stack-2x fa-/3x"></i>
		<i class="fa {{feature.icon}} fa-/3x fa-stack-1x fa-inverse"></i>
            </span>
	    {% endif %}
	    {% if feature.title %}
            <h2>{{feature.title}}</h2>
	    {% endif %}
	    {% if feature.subtitle %}
            <h4 class="text-muted">{{feature.subtitle}}</h4>
	    {% endif %}
	    {% if feature.introduction %}
            <p>{{feature.introduction}}</p>
	    {% endif %}
	</div><!-- /.col-lg-4 -->
        {% endfor %}
    </div>
    <div class="row">
	<div class="col">
	    {{ page.body }}
	</div>
    </div>
</div>
{% endblock bodycontent %}
