{% load static wagtailuserbar navigation_tags %}

<html>
    <head>
	{% include "includes/head.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
	{% wagtailuserbar %}

	<header>
	    {% include "includes/navigation.html" %}
	</header>

	{% block content %}{% endblock %}

	{# Global javascript #}
	<script type="text/javascript" src="{% static 'js/keraban.js' %}"></script>

	{% block extra_js %}
	{# Override this in templates to add extra javascript #}
	{% endblock %}
    </body>
</html>
