{% load static wagtailuserbar navigation_tags analytical %}



<html>
    <head>
	{% analytical_head_top %}
	{% include "includes/head.html" %}

	{% block head-extra %}
	{% endblock head-extra %}
        {% analytical_head_bottom %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
	{% wagtailuserbar %}
        {% analytical_body_top %}

	<header>
	    {% include "includes/navigation.html" %}
	</header>

	{% block content %}{% endblock %}

	<footer>
		{% include "includes/footer.html" %}
	</footer>

	{# Global javascript #}
	<script type="text/javascript" src="{% static 'js/keraban.js' %}"></script>

	<!-- Bootstrap core JavaScript
	     ================================================== -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	{% block extra_js %}
	{# Override this in templates to add extra javascript #}
	{% endblock %}
        {% analytical_body_bottom %}

    </body>
</html>
