{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="homepage">


    {% image page.image fill-1920x600 as image %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{{ image.url }}" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ page.title }}.</h1>
                <p>{{ page.hero_text }}.</p>
                <p>
                    {% if page.hero_cta_link %}
		    <a class="hero-cta-link hvr-icon-forward" href="{% pageurl page.hero_cta_link %}" role="button">{{ page.hero_cta }}</a>
                    {% else %}
                    {{ page.hero_cta }}
                    {% endif %}
		</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="container">

	<hr class="featurette-divider">

	<div class="row featurette">
	    <div class="col-xs-12 col-md-7">
		<h2 class="featurette-heading">{{ page.promo_title }} <span class="text-muted">{{ page.promo_subtitle }}</span></h2>
		<p class="lead">{{ page.promo_text|safe }}</p>
	    </div>
	    <div class="col-md-5 d-none d-md-block">
		{% image page.promo_image fill-500x500-c100 as promo_img %}
		<img class="featurette-image img-fluid mx-auto" src="{{promo_img.url}}" />
	    </div>
	</div>

	<hr class="featurette-divider">

	{% if page.featured_section_1 %}
	<div class="row featurette">
	    <div class="col-xs-12 col-md-7 order-md-2">
		<h2 class="featurette-heading">{{page.featured_section_1.title}}. <span class="text-muted">Espacios adaptables.</span></h2>
		<p class="lead">{{page.featured_section_1.specific.introduction}}</p>
		
		<a href="{% pageurl page.featured_section_1.specific %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver mas</a>
	    </div>
	    <div class="col-md-5 d-none d-md-block">
		{% image page.featured_section_1.specific.image fill-500x500-c100 as featured1_img %}
		<img class="featurette-image img-fluid mx-auto" src="{{featured1_img.url}}" />
	    </div>
	</div>
	{% endif %}
	<hr class="featurette-divider">
	
	<div class="row">
            <div class="col-md-12 feature-2">
		{% if page.featured_section_2 %}
		<h2>{{ page.featured_section_2_title }}</h2>
                <div class="featured-children row feature-2-row">
                    {% for childpage in page.featured_section_2.specific.children|slice:"3" %}
                    <li class="col-sm-4 feature-2-item">
                        <a href="{{childpage.url}}">
                            <figure>
                                {% image childpage.image fill-430x210-c100 %}
                            </figure>
                        </a>
                        <div class="feature-2-text">
                            <h3><a href="{{childpage.url}}">{{childpage.title}}</a></h3>
                            <p>{{ childpage.introduction|truncatewords:15 }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </div>
		{% endif %}
            </div>
	</div>
    </div>

    <div class="container">
	<div class="row">
            <div class="col-md-12 feature-3">
		{% if page.featured_section_3 %}
		<h2>{{ page.featured_section_3_title }}</h2>
                <div class="featured-children row">
                    {% for childpage in page.featured_section_3.specific.children|slice:"6" %}
                    <li class="col-md-4">
                        <a href="{{childpage.url}}">
                            <figure>
                                {% image childpage.image fill-430x254-c100 %}
                            </figure>
                            <h3>{{childpage.title}}</h3>
                        </a>
                    </li>
                    {% endfor %}
                </div>
		{% endif %}
            </div>
	</div>
    </div>

    {% if page.featured_features %}
    <div class="container features">
	<div class="row no-gutters">
	    <div class="col">
		<h2 class="featurette-heading text-center mb-3 pb-3">{{ page.featured_features.specific.title }}</h2>
	    </div>
	</div>
	<div class="row no-/gutters">

            {% for feature in page.featured_features.specific.children %}
	    <div class="col-xs-12 col-md-6 col-lg-4">
		{% if feature.icon %}
		<span class="fa-stack fa-lg fa-3x">
		    <i class="fa fa-circle fa-stack-2x fa-/3x"></i>
		    <i class="fa {{feature.icon}} fa-/3x fa-stack-1x fa-inverse"></i>
		</span>
		{% endif %}
		{% if feature.title %}
		<p>{{feature.title}}</p>
		{% endif %}
	    </div><!-- col-->
            {% endfor %}

	</div>
	<div class="row">
	    <div class="col d-flex justify-content-center">
		<a href="{% pageurl page.featured_features.specific %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Features</a>
	    </div>
	</div>
    </div>
    {% endif %}
</div> <!-- homepage -->
{% endblock %}
