{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags gallery_tags static location_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'css/compact-gallery.css' %}">
{% endblock head-extra %}

{% block content %}
<div class="homepage">


    {% image page.image fill-1920x600 as image %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{{ image.url }}" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-white oppacity">
                <h1>{{ page.title }}</h1>
                <p class="lead px-2">{{ page.hero_text }}</p>
                <p class="px-2">
                    {% if page.hero_cta_link %}
		    <a class="hero-cta-link hvr-icon-forward" href="{% pageurl page.hero_cta_link %}" role="button">{{ page.hero_cta }}</a>
                    {% elif page.hero_cta %}
                    {{ page.hero_cta }}
                    {% endif %}
		</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="container">
	{% if page.promo_title %}
	<hr class="featurette-divider">
	<div class="row featurette">
	    <div class="col-xs-12 col-md-7">
		<h2 class="featurette-heading">{{ page.promo_title }} <span class="text-muted">{{ page.promo_subtitle }}</span></h2>
		<p class="lead">{{ page.promo_text|safe }}</p>
	    </div>
	    <div class="col-md-5 d-none d-md-block">
		{% image page.promo_image fill-500x500-c100 as promo_img %}
		<img class="featurette-image img-fluid mx-auto" src="{{promo_img.url}}" />
	    </div>
	</div>
	{% endif %}



	{% if page.featured_section_1 %}
	<hr class="featurette-divider">

	<div class="row featurette">
	    <div class="col-xs-12 col-md-7 order-md-2">
		<h2 class="featurette-heading">{{page.featured_section_1_title}}</h2>
		<p class="lead">{{page.featured_section_1.specific.introduction|linebreaks}}</p>
		
		<a href="{% pageurl page.featured_section_1.specific %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver mas</a>
	    </div>
	    <div class="col-md-5 d-none d-md-block">
		{% image page.featured_section_1.specific.image fill-500x500-c100 as featured1_img %}
		<img class="featurette-image img-fluid mx-auto" src="{{featured1_img.url}}" />
	    </div>
	</div>
	{% endif %}

	{% if page.featured_section_2 %}
	<hr class="featurette-divider">
	
	<div class="row">
            <div class="col-md-12 feature-2">
		
		<h2>{{ page.featured_section_2_title }}</h2>
                <div class="featured-children row feature-2-row">
                    {% for childpage in page.featured_section_2.specific.children|slice:"3" %}
                    <li class="col-sm-4 feature-2-item">
                        <a href="{{childpage.url}}">
                            <figure>
                                {% image childpage.image fill-430x210-c100 %}
                            </figure>
                        </a>
                        <div class="feature-2-text">
                            <h3><a href="{{childpage.url}}">{{childpage.title}}</a></h3>
                            <p>{{ childpage.introduction|truncatewords:15 }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </div>
            </div>
	</div>
	{% endif %}
    </div>

    {% if page.featured_section_3 %}
    <hr class="featurette-divider">

    <div class="container">
	<div class="row">
            <div class="col-md-12 feature-3">
		{% if page.featured_section_3 %}
		<h2>{{ page.featured_section_3_title }}</h2>
                <div class="featured-children row">
                    {% for childpage in page.featured_section_3.specific.children|slice:"6" %}
                    <li class="col-md-4">
                        <a href="{{childpage.url}}">
                            <figure>
                                {% image childpage.image fill-430x254-c100 %}
                            </figure>
                            <h3>{{childpage.title}}</h3>
                        </a>
                    </li>
                    {% endfor %}
                </div>
		{% endif %}
            </div>
	</div>
    </div>
    {% endif %}


    {% if page.featured_features %}
    <hr class="featurette-divider">
    <div class="container features">
	<div class="row no-gutters">
	    <div class="col">
		<h2 class="featurette-heading text-center mb-3 pb-3">{{ page.featured_features.specific.title }}</h2>
	    </div>
	</div>
	<div class="row no-/gutters">

            {% for feature in page.featured_features.specific.children %}
	    <div class="col-xs-12 col-md-6 col-lg-4">
		{% if feature.icon %}
		<span class="fa-stack fa-lg fa-3x">
		    <i class="fa fa-circle fa-stack-2x fa-/3x"></i>
		    <i class="fa {{feature.icon}} fa-/3x fa-stack-1x fa-inverse"></i>
		</span>
		{% endif %}
		{% if feature.title %}
		<p>{{feature.title}}</p>
		{% endif %}
	    </div><!-- col-->
            {% endfor %}

	</div>
	<div class="row">
	    <div class="col d-flex justify-content-center">
		<a href="{% pageurl page.featured_features.specific %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Features</a>
	    </div>
	</div>
    </div>
    {% endif %}



    {% if page.featured_gallery %}
    <hr class="featurette-divider">
    <div class="container gallery">
	<div class="row">
	    <div class="col">
		<h2 class="featurette-heading text-center mb-3 pb-3">{{ page.featured_gallery.specific.title }}</h2>
	    </div>
	</div>
    </div>
    {% gallery_compact page.featured_gallery.specific.collection %}
    {% endif %}



    {% if page.featured_location %}
    <hr class="featurette-divider">
    {% with location=page.featured_location.specific %}
    <div class="container location">
	<div class="row no-gutters">
	    <div class="col">
		<h2 class="featurette-heading text-center mb-3 pb-3">{{ location.title }}</h2>
	    </div>
	</div>

	{% show_map %}

	<div class="row mt-4">
	    <div class="col d-flex justify-content-center">
		<a href="{% pageurl page.featured_location.specific %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Location</a>
	    </div>
	</div>
    </div>
    {% endwith %}
    {% endif %}


</div> <!-- homepage -->
{% endblock %}

{% block extra_js %}
{% if page.featured_gallery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
 baguetteBox.run('.compact-gallery', {
     animation: 'slideIn',
 });
</script>
{% endif %}
{% endblock extra_js %}
