{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags %}

{% block body_class %}template-standardpage{% endblock %}

{% block content %}


{% include "home/includes/header.html" %}
<div class="standardpage">
    <div class="container mt-4">
	<div class="row">
	    <div class="col">
		{{page.body}}
	    </div>
	</div>


    {% block bodycontent %}
    {% endblock bodycontent%}
    <hr />
    {% block breadcrumbs %}
    {% breadcrumbs %}
    {% endblock breadcrumbs %}

    </div>

</div>



{% endblock content %}
