{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% for menuitem in menuitems %}
  <li id="menu-{{ menuitem.title|lower|cut:" " }}" class="nav-item {{ menuitem.title|lower|cut:" " }}{% if menuitem.active %} active{% endif %}{% if menuitem.show_dropdown %} dropdown{% endif %}" >
      {% if menuitem.show_dropdown %}
          <a href="{% pageurl menuitem %}" class="nav-link dropdown-toggle">{{ menuitem.title }} <span><a class="caret-custom dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a></span></a>
              {% top_menu_children parent=menuitem %}
              {# Used to display child menu items #}
      {% else %}
          <a class="nav-link" href="{% pageurl menuitem %}" >{{ menuitem.title }}</a>
      {% endif %}
  </li>
{% endfor %}
