{% extends "home/standard_page.html" %}
{% load business_tags  wagtailcore_tags i18n %}

{% block bodycontent %}

{% get_language_info for LANGUAGE_CODE as lang %}

<div class="container">
    <div class="row">
        <div class="col-md-8 form-page mb-3">
            <form action="https://formspree.io/{{page.email}}" method="POST" role="form">
                {% if form.subject.errors %}
                <ol role="alertdialog">
                    {% for error in form.subject.errors %}
                    <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}

		<input type="hidden" name="_language" value="{{lang.code}}" />
		<input type="hidden" name="_next" value="{% pageurl page.thanks_page %}" />
		
                {% for field in form %}
                <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {% trans field.label_tag %}{% if field.field.required %}<span class="required">*</span>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit">
            </form>
        </div>
	<div class="col-md-4">
	    {% get_business_contact %}
	</div>
    </div>
</div>


{% endblock bodycontent %}
