{% load wagtailimages_tags wagtailcore_tags %}

{% if self.image %}
    {% image page.image fill-1920x600 as image %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{{ image.url }}" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ page.title }}. {% if page.subtitle %}<small class="text-muted">{{page.subtitle}}</small>{% endif %}</h1>
                {% if page.introduction %}<p>{{ page.introduction }}.</p>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

{% else %}
      <div class="container plain-header py-5">
    <div class="row">
	<div class="col">
	    <h1>{{ page.title }} {% if page.subtitle %}<small class="text-muted">{{page.subtitle}}</small>{% endif %}</h1>
	    {% if page.introduction %}<p class="intro">{{ page.introduction|richtext }}</p>{% endif %}
	</div>
    </div>
    <hr >
</div>
{% endif %}
